body {
  font-size: 14px;
  font-family: 'OpenSansRegular','Arial'; }
  body h1 {
    font-size: 60px; }
  body h2 {
    font-size: 30px; }
  body h3 {
    font-size: 24px; }
  body h4 {
    font-size: 18px; }
  body h5 {
    font-size: 16px; }

header {
  padding: 20px 0; }
  header h3 {
    line-height: 1;
    margin: 10px 0 0;
    font-weight: bold; }
  header span {
    font-size: 11px;
    margin: 0;
    line-height: 1;
    letter-spacing: 2.4px; }
  header img {
    vertical-align: middle;
    margin-right: 10px; }
  header a {
    color: #000;
    text-decoration: underline;
    font-weight: bold;
    font-family: "OpenSansLight"; }
    header a:hover {
      color: #000; }
    header a:focus {
      color: #000;
      text-decoration: none; }
  header p {
    font-family: "OpenSansLight";
    font-weight: bold; }
  header ul {
    list-style-type: none;
    margin: 0;
    padding: 20px 0; }
    header ul li {
      display: inline-block;
      border-left: 1px solid #ddd;
      padding: 10px 32px; }
      header ul li:first-child {
        border-left: none;
        padding-left: 0; }
      header ul li:last-child {
        padding-right: 0; }
      header ul li a {
        font-size: 16px;
        font-weight: normal;
        text-decoration: none; }
        header ul li a:hover {
          text-decoration: underline;
          color: #000; }

.carousel {
  background-image: url("../img/bg_for_carousel.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }
  .carousel h1 {
    font-family: "OpenSansLight";
    line-height: 1;
    font-weight: normal; }
  .carousel h3 {
    font-family: "OpenSansLight";
    font-weight: normal; }
  .carousel form {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 30px 84px;
    margin: 50px; }
    .carousel form h4 {
      font-family: 'OpenSansRegular';
      text-align: center; }
    .carousel form input {
      text-align: center;
      padding: 7px 44px;
      margin: 10px 0;
      font-family: "OpenSansLight";
      font-size: 16px;
      border: none;
      -webkit-border-radius: 3px;
              border-radius: 3px; }
    .carousel form button {
      border: none;
      background-color: #FFBE02;
      padding: 10px 89px;
      text-align: center;
      margin: 10px 0;
      -webkit-border-radius: 3px;
              border-radius: 3px; }
  .carousel .owl-nav div {
    width: 23px;
    height: 42px;
    background-repeat: no-repeat;
    background-image: url(../img/arrows.png);
    position: absolute;
    bottom: 30px; }
    .carousel .owl-nav div.owl-next {
      right: 0;
      background-position: top right; }
    .carousel .owl-nav div:hover {
      background-image: url(../img/arrows_hover.png); }
  .carousel .owl-dots {
    text-align: center;
    width: 100%; }
    .carousel .owl-dots .owl-dot {
      width: 14px;
      height: 14px;
      border: 7px solid #fff;
      display: inline-block;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      margin: 10px 5px 20px; }
      .carousel .owl-dots .owl-dot.active {
        border: 1px solid #fff; }

.services {
  background-color: #F8F8F8; }
  .services h2 {
    font-family: "OpenSansLight";
    text-align: center;
    line-height: 2; }
  .services .service {
    display: inline-block;
    min-width: 375px;
    min-height: 168px;
    margin-top: 2px;
    vertical-align: middle;
    position: relative; }
    .services .service .before_hover {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 3;
      background-color: #000;
      opacity: 0.2;
      display: block; }
      .services .service .before_hover:hover {
        opacity: 0;
        cursor: pointer; }
    .services .service img {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1; }
    .services .service h4 {
      color: #fff;
      text-align: center;
      margin: 110px 40px;
      position: absolute;
      z-index: 2;
      line-height: 1.2; }

.lease {
  padding-bottom: 120px; }
  .lease h2 {
    font-family: "OpenSansLight";
    text-align: center;
    line-height: 2; }
  .lease .equpment {
    height: 200px;
    position: relative; }
    .lease .equpment img {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      margin: auto; }
    .lease .equpment a {
      text-align: top;
      font-family: "OpenSansLight";
      color: #000;
      position: absolute;
      bottom: 0;
      height: 20px;
      width: 100%; }
      .lease .equpment a h4 {
        font-weight: normal;
        text-align: center; }
      .lease .equpment a:hover {
        color: #000; }

.works {
  background-color: #FDCE47; }
  .works h2 {
    font-family: "OpenSansLight";
    text-align: center;
    line-height: 3;
    margin-top: 20px; }
  .works .work {
    display: inline-block;
    background-image: url("../img/bg_work.png");
    background-repeat: no-repeat;
    width: 20%;
    vertical-align: top;
    margin: 0;
    text-align: center; }
    .works .work.one {
      background-position: 16px top; }
    .works .work.two {
      background-position: -204px top; }
    .works .work.three {
      background-position: -420px top; }
    .works .work.four {
      background-position: -645px top; }
    .works .work.five {
      background-position: -864px top; }
    .works .work .work_image {
      width: 200px;
      height: 200px;
      overflow: hidden;
      border: 2px solid #fff;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      margin: 50px auto 0; }
    .works .work h5 {
      font-family: 'OpenSansRegular';
      margin: 40px; }

.advantages {
  margin-bottom: 100px; }
  .advantages h2 {
    font-family: "OpenSansLight";
    text-align: center;
    line-height: 2; }
  .advantages .advantage {
    padding: 0 40px 30px 60px; }
    .advantages .advantage.one {
      background-image: url("../img/advantage_1.png");
      background-repeat: no-repeat; }
    .advantages .advantage.two {
      background-image: url("../img/advantage_2.png");
      background-repeat: no-repeat; }
    .advantages .advantage.three {
      background-image: url("../img/advantage_3.png");
      background-repeat: no-repeat; }
    .advantages .advantage.four {
      background-image: url("../img/advantage_4.png");
      background-repeat: no-repeat; }
    .advantages .advantage h4 {
      font-family: 'OpenSansRegular';
      line-height: 1.1;
      margin-bottom: 0; }
    .advantages .advantage p {
      font-family: "OpenSansLight"; }

.painting {
  background-color: #F8F8F8;
  text-align: center;
  padding: 20px 0 50px; }
  .painting h3 {
    font-family: 'OpenSansRegular';
    text-align: center;
    background-image: url("../img/bg_paint_h3.png");
    background-repeat: no-repeat;
    background-position: center; }
  .painting p {
    font-size: 16px;
    font-family: 'OpenSansRegular';
    text-align: center;
    font-weight: bold; }
  .painting .paint {
    border: #FFC025 solid 2px;
    padding: 10px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 285px;
    height: 171px;
    margin-left: 40px;
    margin-top: 10px;
    background-color: #fff; }
    .painting .paint:first-child {
      margin-left: 0; }
    .painting .paint img {
      width: 99%;
      height: 99%; }
    .painting .paint h4 {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      font-family: 'OpenSansRegular';
      font-size: 16px;
      margin-bottom: 10px; }
      .painting .paint h4 span {
        background-color: #fff;
        padding: 5px 15px; }

.form form {
  background-image: url("../img/bg_form.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  text-align: center;
  padding: 20px;
  margin: 100px 0; }
  .form form h2 {
    font-family: 'OpenSansRegular';
    font-weight: 550;
    margin-bottom: 0; }
  .form form p {
    font-size: 16px;
    font-family: 'OpenSansRegular';
    margin-top: 0; }
    .form form p span {
      font-weight: bold; }
  .form form input {
    text-align: center;
    padding: 5px 30px;
    font-family: "OpenSansLight";
    font-size: 16px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    border: none;
    margin: 8px 8px 26px; }
  .form form button {
    background-color: #FFBE02;
    border: none;
    padding: 5px 80px;
    font-family: "OpenSansLight";
    margin: 8px 8px 26px; }

.reviews {
  background-color: #F8F8F8; }
  .reviews img {
    width: 100%; }
  .reviews h2 {
    text-align: center;
    font-family: 'OpenSansRegular'; }
  .reviews h5 {
    font-size: 16px;
    line-height: 1;
    font-family: 'OpenSansRegular'; }

footer {
  padding: 20px 0; }
  footer h3 {
    line-height: 1;
    margin: 10px 0 0;
    font-weight: bold; }
  footer span {
    font-size: 11px;
    margin: 0;
    line-height: 1;
    letter-spacing: 2.4px; }
  footer img {
    vertical-align: middle;
    margin-right: 10px; }
  footer a {
    color: #000;
    text-decoration: underline;
    font-weight: bold;
    font-family: "OpenSansLight"; }
    footer a:hover {
      color: #000; }
    footer a:focus {
      color: #000;
      text-decoration: none; }
  footer p {
    font-family: "OpenSansLight";
    font-weight: bold;
    line-height: 1;
    padding-left: 25px; }
    footer p.number {
      background-repeat: no-repeat;
      background-image: url("../img/phone_li.png");
      background-position: 0 -1px; }
    footer p.mail {
      background-image: url("../img/mail.png");
      background-repeat: no-repeat;
      background-position: 0 1px; }
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    footer ul li {
      display: block;
      margin: 7px; }
      footer ul li a {
        font-size: 14px;
        text-decoration: none;
        font-family: 'OpenSansRegular';
        font-weight: normal; }
        footer ul li a:hover {
          text-decoration: underline;
          color: #000; }
