body {
  max-width: 100%; }

header {
  padding: 30px 50px 20px; }
  header .logo {
    float: left;
    margin-right: 100px; }
  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: "Corbel Regular";
    display: inline-block;
    vertical-align: top; }
    header ul li {
      margin: 20px 50px;
      display: inline-block; }
      header ul li a {
        text-decoration: none;
        color: #000; }
  header .social {
    display: inline-block; }
    header .social img {
      margin: 20px 5px; }
  header .contacts {
    display: inline-block;
    float: right; }
    header .contacts .number {
      font-family: "AgencyFBBold";
      font-size: 42px;
      font-weight: bold; }
    header .contacts .span {
      font-family: "Arial Narrow"; }

.section_1 {
  background: #FAE340; }
  .section_1 img {
    float: right; }
  .section_1 h1 {
    font-size: 60px;
    font-family: "SkratchPunk";
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1;
    margin-top: 120px; }
  .section_1 h4 {
    font-size: 24px;
    font-family: "aAvantebs";
    line-height: 1; }
  .section_1 h2 {
    font-family: "Festus";
    font-size: 40px;
    font-weight: bold;
    display: inline-block; }
  .section_1 .discount {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-left: 50px; }

.section_2 {
  background-image: url(../img/bg_section_2.png); }
  .section_2 h3 {
    font-family: "CenturyGothicRegular";
    font-size: 30px;
    text-align: right;
    margin-top: 120px;
    text-align: center;
    margin-left: 200px;
    font-weight: normal; }
    .section_2 h3:after {
      content: "";
      background-image: url(../img/line_for_section_2.png);
      display: inline-block;
      width: 400px;
      height: 90px;
      margin-left: 10px;
      margin-top: 15px;
      position: absolute; }
  .section_2 .polygon {
    background-image: url(../img/polygon.png);
    max-width: 584px;
    padding: 100px 124px 205px;
    margin: 15px auto;
    font-family: "CenturyGothicRegular"; }
    .section_2 .polygon h4 {
      font-size: 24px;
      font-weight: normal; }
    .section_2 .polygon p {
      font-size: 14px;
      line-height: 1.1; }

.section_3 {
  background-image: url(../img/bg_section_3.png); }
  .section_3 h3 {
    font-family: "CenturyGothicRegular";
    font-size: 30px;
    margin-top: 120px;
    margin-left: -100px;
    font-weight: normal;
    text-align: center; }
    .section_3 h3:before {
      content: "";
      background-image: url(../img/line_for_section_3.png);
      display: inline-block;
      width: 246px;
      height: 32px;
      margin-top: 15px;
      position: absolute;
      margin-left: -260px; }
  .section_3 .polygon {
    background-image: url(../img/polygon.png);
    max-width: 584px;
    padding: 100px 124px 205px;
    margin: 15px;
    float: right;
    font-family: "CenturyGothicRegular"; }
    .section_3 .polygon h4 {
      font-size: 24px;
      font-weight: normal; }
    .section_3 .polygon p {
      font-size: 14px;
      line-height: 1.1; }

.section_4 h2 {
  font-family: "Festus";
  font-size: 50px;
  text-align: center; }

.section_4 .row {
  margin-top: 20px; }
  .section_4 .row .avatar {
    width: 110px;
    height: 110px;
    display: inline-block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-image: url("../img/ellipse.png");
    overflow: hidden; }

.section_5 {
  background-image: url(../img/bg_section_5.png);
  background-repeat: no-repeat; }
  .section_5 h3 {
    font-family: "CenturyGothicRegular";
    font-size: 30px;
    text-align: right;
    margin-top: 280px;
    margin-right: 110px;
    font-weight: normal;
    line-height: 1.1; }
    .section_5 h3:after {
      content: "";
      background-image: url(../img/line_for_section_2.png);
      display: inline-block;
      width: 400px;
      height: 90px;
      margin-left: 10px;
      position: absolute; }
  .section_5 .polygon {
    background-image: url(../img/polygon.png);
    max-width: 584px;
    padding: 100px 124px 205px;
    margin: 15px auto;
    font-family: "CenturyGothicRegular"; }
    .section_5 .polygon h4 {
      font-size: 24px;
      font-weight: normal; }
    .section_5 .polygon p {
      font-size: 14px;
      line-height: 1.1; }

.section_6 {
  background-image: url(../img/bg_section_6.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-bottom: 200px; }
  .section_6 h2 {
    font-size: 40px;
    font-family: "Festus";
    margin-top: 100px; }
    .section_6 h2:before {
      content: "";
      background-image: url("../img/black_batterfly.png");
      width: 97px;
      height: 85px;
      display: inline-block;
      vertical-align: middle;
      margin-top: -30px;
      margin-right: 10px; }
  .section_6 .block {
    max-width: 350px;
    border: 1px solid #E6E5F1;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 40px; }
    .section_6 .block .image {
      max-width: 280px; }
    .section_6 .block .mini_discount {
      margin: 10px;
      float: left; }
    .section_6 .block h4 {
      font-size: 24px;
      font-family: "Festus";
      margin-top: 15px;
      margin-bottom: 0;
      text-align: center;
      line-height: 1; }
    .section_6 .block span {
      font-size: 40px;
      font-family: "AgencyFBBold";
      margin-top: 5;
      display: block;
      text-align: center; }

.section_7 {
  background-color: #605CA8;
  padding: 30px 0 20px; }
  .section_7 .journal img {
    margin-top: -60px;
    float: right; }
  .section_7 p {
    font-size: 14px;
    font-family: "aAvantebs";
    color: #F4F4F7;
    margin-left: -20px; }
  .section_7 .brands {
    text-align: center; }
    .section_7 .brands h4 {
      font-family: "SkratchPunk";
      font-size: 24px;
      color: #fff;
      font-weight: normal;
      line-height: 1;
      margin-top: 15px; }
    .section_7 .brands img {
      display: inline-block;
      margin: 20px 5px;
      vertical-align: middle; }

.section_8 {
  background-image: url(../img/bg_section_6.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-bottom: 200px; }
  .section_8 h2 {
    font-size: 40px;
    font-family: "Festus";
    margin-top: 100px; }
    .section_8 h2:before {
      content: "";
      background-image: url("../img/black_batterfly.png");
      width: 97px;
      height: 85px;
      display: inline-block;
      vertical-align: middle;
      margin-top: -30px;
      margin-right: 10px; }
  .section_8 .block {
    max-width: 350px;
    border: 1px solid #E6E5F1;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 40px; }
    .section_8 .block .image {
      max-width: 280px; }
    .section_8 .block h5 {
      font-size: 18px;
      font-family: "Arial";
      line-height: 1; }
    .section_8 .block p {
      font-family: "Arial";
      font-size: 14px;
      line-height: 1; }

.section_9 img {
  width: 100%; }

.section_10 h4 {
  font-size: 25px;
  font-family: "CenturyGothicRegular";
  line-height: 0.4;
  margin-top: 60px; }

.section_10 h2 {
  font-family: "Arial";
  font-size: 40px;
  line-height: 0.4;
  font-weight: 900;
  color: #000; }

.section_10 .discount_2 {
  margin: -5px;
  float: left; }

.section_10 form {
  margin: 20px 20px 0;
  display: inline-block;
  max-width: 340px; }
  .section_10 form input {
    -webkit-border-radius: 10px;
            border-radius: 10px;
    padding: 10px;
    display: block;
    margin: 5px;
    font-family: "aAvantebs";
    font-style: italic;
    min-width: 250px;
    display: inline-block; }
  .section_10 form button {
    border: none;
    background-color: #F00;
    padding: 10px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    color: #fff;
    -webkit-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
            box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
    display: inline-block; }

footer {
  padding: 30px 50px 20px; }
  footer .logo {
    float: left;
    margin-right: 100px; }
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: "Corbel Regular";
    display: inline-block;
    vertical-align: top; }
    footer ul li {
      margin: 20px 50px;
      display: inline-block; }
      footer ul li a {
        text-decoration: none;
        color: #000; }
  footer .contacts {
    display: inline-block;
    float: right; }
    footer .contacts .number {
      font-family: "AgencyFBBold";
      font-size: 42px;
      font-weight: bold; }
    footer .contacts .span {
      font-family: "Arial Narrow"; }
