/* font-family: "PFDinTextPro-Light"; */
@font-face {
	font-family: "PFDinTextPro-Light";
	src: url("../fonts/PFDinTextPro-Light/PFDinTextPro-Light.eot");
	src: url("../fonts/PFDinTextPro-Light/PFDinTextPro-Light.eot?#iefix")format("embedded-opentype"),
	url("../fonts/PFDinTextPro-Light/PFDinTextPro-Light.woff") format("woff"),
	url("../fonts/PFDinTextPro-Light/PFDinTextPro-Light.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
	font-family: "PFDinTextPro-Medium";
	src: url("../fonts/PFDinTextPro-Medium/PFDinTextPro-Medium.eot");
	src: url("../fonts/PFDinTextPro-Medium/PFDinTextPro-Medium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/PFDinTextPro-Medium/PFDinTextPro-Medium.woff") format("woff"),
	url("../fonts/PFDinTextPro-Medium/PFDinTextPro-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "PFDinTextPro-Regular"; */
@font-face {
	font-family: "PFDinTextPro-Regular";
	src: url("../fonts/PFDinTextPro-Regular/PFDinTextPro-Regular.eot");
	src: url("../fonts/PFDinTextPro-Regular/PFDinTextPro-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/PFDinTextPro-Regular/PFDinTextPro-Regular.woff") format("woff"),
	url("../fonts/PFDinTextPro-Regular/PFDinTextPro-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "PFDinTextPro-Thin"; */
@font-face {
	font-family: "PFDinTextPro-Thin";
	src: url("../fonts/PFDinTextPro-Thin/PFDinTextPro-Thin.eot");
	src: url("../fonts/PFDinTextPro-Thin/PFDinTextPro-Thin.eot?#iefix")format("embedded-opentype"),
	url("../fonts/PFDinTextPro-Thin/PFDinTextPro-Thin.woff") format("woff"),
	url("../fonts/PFDinTextPro-Thin/PFDinTextPro-Thin.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "OpenSansSemiboldRegular"; */
@font-face {
	font-family: "OpenSansSemiboldRegular";
	src: url("../fonts/OpenSansSemiboldRegular/OpenSansSemiboldRegular.eot");
	src: url("../fonts/OpenSansSemiboldRegular/OpenSansSemiboldRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/OpenSansSemiboldRegular/OpenSansSemiboldRegular.woff") format("woff"),
	url("../fonts/OpenSansSemiboldRegular/OpenSansSemiboldRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "OpenSansRegular"; */
@font-face {
	font-family: "OpenSansRegular";
	src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
	src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
	url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "OpenSansItalic"; */
@font-face {
	font-family: "OpenSansItalic";
	src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
	src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"),
	url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}