*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #333;
    background-color: #0D0D0D;
	background-image: url(../img/works.png);
	background-repeat: no-repeat;
	background-position: 0 1150px

}

/* ----------navigation */

.navbar-default {
    background-color: #f5f5f5;
    border-radius: none;
    font-family: 'PFDinTextPro-Light'

}
.navbar {
		border-radius: 0px;
		margin-bottom: 0;
		border: none;
}
.navbar-default .navbar-nav>li>a {
    color: #5F5F5F;
}
.nav>li>a {
	border-bottom: 3px solid #FF7800;
    padding: 14px 0px;
    margin: 0px 24px;
}
.navbar-default .navbar-nav>.active, .navbar-default .navbar-nav>.active:focus, .navbar-default .navbar-nav>.active:hover {
    font-family: 'PFDinTextPro-Medium';
    background-color: #000;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #FFF;
    background-color: #000;
    border-bottom: #000 3px solid;
}
.dropdown-menu>li>a {
	margin: 28px;
	border-bottom: 1px solid #FEE280;
	padding: 0;
}
.navbar-default .navbar-nav>.open, .navbar-default .navbar-nav>.open:focus, .navbar-default .navbar-nav>.open:hover {
    background-color: #fff;
    background-image: url(../img/nav_arrow_down.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: #fff;
	border-bottom: #FF7800 3px solid;
}
.quastion {
	background-color: #FF7800;
	color: #000;
}
.nav .contact a{
	border-bottom: none;
}
.arrow {
	 margin-left: 10px;
}
.number {
	display: block;
	margin: 0;
}
.number a {
	margin: 4px 0px;
	padding: 6px 10px;
	float: right;
	font-family: 'PFDinTextPro-Light';
	font-size: 20px;
	color: #444444;
	text-decoration: none;
}
.number a span {
	font-family: 'PFDinTextPro-Medium';
	color: #000;
}
.number a:hover {
	border: 1px solid #EDC1AB;
	border-radius: 5px;
}
.navbar-brand {
	margin-right: 100px;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: none;
}
/* --------------slider */
.carousel-inner {

	padding-left: 120px;
}
.carousel {
	background-image: url(../img/bg_slider.png);
	background-repeat: no-repeat;
	background-position: 400px -50px;
	min-height: 500px;
}
.carousel-inner h1 {
	color: #fff;
	margin-top: 115px;
	font-family: 'PFDinTextPro-Medium';
	font-size: 48px;
	border-bottom: 1px solid #887532;
	max-width: 480px;
}
.carousel-inner p {
	font-family: Arial Regular;
	font-size: 14px;
	color: #fff;
}
.carousel-inner h2 {
	font-family: 'PFDinTextPro-Light';
	font-size: 36px;
	color: #FF7800;
}
.carousel-inner h2 span {
	font-family: 'PFDinTextPro-Medium';
}
.carousel-inner .slider_soc img {
	margin: 10px;
}
.carousel-control {
	width: 3.5%;
    position: absolute;
    top: 45%;
    bottom: 100%;
    left: 0;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: none;
    opacity: 1;
}
.carousel-control:hover {
	opacity: 0.9
}

.phone_number {
	position: absolute;
	top: 0;
	right: 20px;
	text-align: right;
	padding-top: 15px;
}
.moscow {
	border-bottom: 1px solid #353537;
	padding: 0 20px;
}
.moscow h6 {
	margin-top: 5px;
}
.two {
	padding: 0 20px;
}
.two h6 {
	margin-bottom: 0;
}
.phone_number h6 {
	font-family: 'PFDinTextPro-Thin';
	font-size: 18px;
	color: #fff;
}
.phone_number h6 span {
	font-family: 'PFDinTextPro-Medium';
	font-size: 18px;
	color: #fff;
}
.phone_number span {
	font-size: 12px;
	font-family: 'Arial Regular';
	color: #5F5F60;
	margin: 0;
}

/* ------------------content */

.content h3 {
	font-family: 'PFDinTextPro-Light';
	font-size: 27px;
	color: #fff;
	line-height: 1.2;
	margin: 0;
	max-width: 220px;
}
.content h3 span {
	font-family: "PFDinTextPro-Medium";

}
.content .under_h3 {
	font-family: "PFDinTextPro-Thin";
	font-size: 20px;
	color: #fff;
	margin-top: 0;
	max-width: 220px;
}
.content p {
	font-family: 'Arial Regular';
	color: #8B8B8B;
	font-size: 13px;
	max-width: 200px;
}
.content p span {
	font-family: 'Arial Bold';
	font-size: 15px;
	color: #CECECE;
}
h4 {
	color: #fff;
	font-family: "OpenSansSemiboldRegular";
	font-size: 20px;
	padding: 145px 0 5px;
	border-bottom: #292929 2px solid;
	display: inline-block;
	margin: 0 10px;
}
h4 img {
	margin-left: 10px;
	display: none;
}
.content .wrapper {
	width: 100%;
	height: 175px;
	margin-bottom: 30px;
	cursor: pointer;
}
.content .wrapper:hover h4 {
	border-bottom: #887532 3px solid;
}
.content .wrapper:hover h4 img {
	display: inline-block;
}
.content .wrapper.one {
	background-image: url(../img/wrapper_1.png);
	background-repeat: no-repeat;
}
.content .wrapper.two {
	background-image: url(../img/wrapper_2.png);
	background-repeat: no-repeat;
}
.content .wrapper.three {
	background-image: url(../img/wrapper_3.png);
	background-repeat: no-repeat;
}
.content .wrapper.four {
	background-image: url(../img/wrapper_4.png);
	background-repeat: no-repeat;
}
.content .wrapper.five {
	background-image: url(../img/wrapper_5.png);
	background-repeat: no-repeat;
}
.content .wrapper.six {
	background-image: url(../img/wrapper_6.png);
	background-repeat: no-repeat;
}
.content .wrapper.seven {
	background-image: url(../img/wrapper_7.png);
	background-repeat: no-repeat;
}
.content .wrapper.eight {
	background-image: url(../img/wrapper_8.png);
	background-repeat: no-repeat;
}
.content .wrapper.nine {
	background-image: url(../img/wrapper_9.png);
	background-repeat: no-repeat;
}
.quick_order {
	background-color: #111111;
	margin: 10px;
	max-width: 100%
}
.quick_order h4 {
	border-bottom: none;
	padding: 10px 0;
	padding-bottom: 0;
	margin: 0;
}
.quick_order p {
	max-width: 100%;
}
.quick_order button {
	background: none;
	border: #4D4322 solid 1px;
	padding: 7px 20px;
	border-radius: 5px;
	margin: 20px;
	font-family: "OpenSansRegular";
	font-size: 16px;
	color: #fff;
	width: 100%;
}
.quick_order button:hover {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .9)
}
.quick_order button:focus {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .9)
	border-color: #4D4322;
	outline:none;
}

/* ----------------our_works */
.our_works {
	background-image: url(../img/works.png);
}
.our_works h3 {
	color: #fff;
	font-family: "PFDinTextPro-Light";
}
.our_works .brands img {
	margin: 15px 18px;
}

.swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      cursor: pointer;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    .swiper-slide .wrapper {
    	width: 240px;
    	height: 175px;
    	position: relative;
    }
    
    .swiper-slide .wrapper:hover {
    }
    .swiper-slide .wrapper img {
    	width: 100%;
    	height: 100%;
    	margin: 0;
    }
    .swiper-slide .wrapper > .img_hover {
    	position: absolute;
    	top: 0;
    	left: 0;
    	opacity: .9;
    	display: none;
    }
    .swiper-slide .wrapper > .description {
    	position: absolute;
    	display: block;
    	top: 0;
    	margin: 20px;
    	display: none;
    }
    .swiper-slide .wrapper > .description h6 {
		font-family: "OpenSansSemiboldRegular";
		font-size: 16px;
		color: #fff;
		text-align: left;
    }
    .swiper-slide .wrapper > .description p {
    	font-family: 'Arial Regular';
    	font-size: 12px;
    	color: #999999;
    	text-align: left;
    	background-image: url(../img/arrow_hover.png);
    	background-repeat: no-repeat;
    	background-position: right 70px;
    	border-bottom: #887532 3px solid;
    	padding-bottom: 30px;
    }
    .swiper-slide .wrapper:hover > .description {
    	display: block;
    }
    .swiper-slide .wrapper:hover > .img_hover {
    	display: block;
    }
    .swiper-pagination {
    	float: right;
    	margin: 10px 0 0 100px;
    }
    .swiper-pagination .swiper-pagination-bullet {
    	margin: 10px;
    	width: 12px;
    	height: 12px;
    	border: #FED852 solid 1px;
    	opacity: 1;
    }
    .swiper-pagination .swiper-pagination-bullet-active {
    	background-color: #FED852;
    }

.our_works h4 {
	border-bottom: none;
	padding: 10px 0;
	padding-bottom: 0;
	margin: 0;
	font-family: "OpenSansSemiboldRegular";
	margin-top: 10px;
}
.our_works p {
	max-width: 100%;
	color: #fff;
	font-size: 16px;
	font-family: "OpenSansItalic";

}
.our_works p a {
	float: right;
	font-family: "PFDinTextPro-Light";
	font-size: 15px;
	color: #383838;
}
.map {
	position: relative;
	height: 570px;
	overflow: hidden;
}
.phone {
	background-color: #F5F5F5;
	border-radius: 5px;
	position: absolute;
	padding: 20px;
	top: 1720px;
	right: 0px;
}
.phone h2 {
	font-family: "PFDinTextPro-Regular";
	font-size: 27px;
	text-align: center;
	line-height: 0.5;
}
.phone span {
	font-family: 'Arial Regular';
	font-size: 14px;
	color: #777777;
	text-align: center;
}
.phone h3 {
	font-family: "PFDinTextPro-Medium";
	font-size: 24px;
	color: #000;
	text-align: center;
}
.phone h3 span {
	font-family: "PFDinTextPro-Light";
	font-size: 24px;
}
.phone h3 .red_span {
	color: #DA4900;
	font-family: 'Arial Regular';
	font-size: 12px;
	display: block;
	text-align: right;
	margin-right: 15px;
}
.phone button {
	border: none;
	font-family: 'OpenSansRegular';
	font-size: 16px;
	background-color: #FED852;
	padding: 5px 10px;
	border-radius: 5px;
}
.phone button:focus {
	border: none;
	outline:none;
}
.phone button:hover {
	background-color: #FED833;
}

.footer {
	background-color: #EAEAEA;
	margin-top: -70px;
	padding: 10px;
}
footer p {
	font-family: 'Arial Regular';
	font-size: 14px;
	text-align: center;
	margin: 10px 0;
}
footer .slider_soc {
	text-align: right;
	margin-top: 5px;
}
footer .slider_soc img {
	margin: 0 0 0  10px;
}